body {
  background-color: #A0C4FF; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Cover {
  width: 100%;
  max-width: 300px;  
  border-radius: 10px 10px 0 0;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Login input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: #0F3D91;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.registerBtn {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginBtn:hover {
  opacity: 0.8;
  border-color: #333;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.registerBtn:hover{
  background-color: #f0f0f0;
  border-color: #333;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}